body {
    background-color: #262626;
    color: #5dbe5d;
    font-family: monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 90%;
    height: 90%;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #5dbe5d #262626;
}

.terminal::-webkit-scrollbar {
    width: 12px;
}

.terminal::-webkit-scrollbar-track {
    background: #5dbe5d;
    border-radius: 10px;
    border: 3px solid #2b2b2b;
}


#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.3em;
}

.input-line {
    display: flex;
    font-size: 1.3em;
}

.prompt {
    margin-right: 5px;
}

#commandInput {
    font-family: monospace;
    font-size: 1em;
    background: none;
    border: none;
    color: #61cab8;
    outline: none;
    flex-grow: 1;
}